body{
	background-color: #004d33;
	background-repeat: no-repeat;
	font-family: verdana;
	font-size: 15px;
}

h1{
	color: black;
	text-align: center;
}


fieldset{
	margin-top: 200px;
	margin-left: 300px;
	width: 500px;
	background-color: white;
}


input[type="text"]{
	display: block;
	margin: auto;
	padding: 12px;
}
